<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetStoreSuite">
<listeners>
<listener class-name="io.qameta.allure.testng.AllureTestNg"/> <!-- Required for Allure results -->
    <listener class-name="utils.ExtentTestNGListener"/>
</listeners>

    <test name="PetServiceTests">
        <classes>
            <class name="spec.petServiceSpecTest"/>
        </classes>
    </test>
</suite>


